<%-  if created.new_record?; -%>
  <%= render :partial => 'add_button', :locals => { :section_id => created.section_id } %>
  <%= javascript_tag do %>
    alert('<%= (created.errors.any? ? created.errors.values.join(' ') : "That didn't work." )%>');
  <% end %>
<%- else -%>
  <span class="loaded">Added</span>
<%- end -%>
