<%- if @registered_sections.empty? -%>
<h1>No classes registered for this semester</h1>
<%- else -%>
<h1>Current Schedule</h1>

<table class="courseList">
  <% options = {"show_drop_button" => true} %>
  <%= render  :partial => 'courses/course', 
              :collection => @registered_sections.map(&:section),
              :locals => {:options => options} %>
</table>

<%= link_to "View Graphical Schedule", registered_sections_path, :target => '_blank' %>
<%- end -%>
