<hr/>
<h3>Current Schedule</h3>
<%- if @registered_sections.empty? -%>
<h4>You haven't registered for any classes this semester.</h4>
<%- else -%>


<table class="courseList">
  <% options = {"show_drop_button" => true} %>
  <%= render  :partial => 'courses/course', 
              :collection => @registered_sections.map(&:section),
              :locals => {:options => options} %>
</table>

<%= link_to "View Graphical Schedule", registered_sections_path, :target => '_blank' %>
<%- end -%>
