<h1>Your Current Schedule</h1>

<p align="center">
<img src="/images/schedule.png">
</p>

<table class="course-list">
  <% for reg_section in @registered_sections %>
  <%= render  :partial => 'courses/course', 
              :object => reg_section.section,
              :locals => { :options => { :show_drop_button => true,
                                         :added => true,
                                         :added_object => reg_section } } %>
  <% end %>
</table>
