<h1>Current Schedule</h1>

<p align="center">
<img src="/images/schedule.png">
</p>

<table class="courseList">
  <%= render :partial => 'courses/course', :collection => @registered_sections.map(&:section) %>
</table>
