a {
  color: #900;
}

.extra.slider {
  display: none;
}

.error div {
	padding-left: 2em;
	color: #d00;
	font-weight: bold;
}

.inline {
  display: inline;
}

.loaded {
  color: #070;
}

.right-align {
  float: right;
  margin-right: 1em;
  text-align: right;
}

.schedule-link {
  margin: 2em 2em 0 0;
}

.spacer {
  display: block;
  height: 2em;
}

.button form{
	display: inline;
}

.main {
  cursor: pointer;
}

