body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10pt;
}

ul.tabList {
	list-style: none;
	display: inline;
}

ul.tabList > li {
	display: inline;
	padding: .1em;
	border: 1px #69F solid;
	margin-left: .3em;
}

ul.tabList > li#selectedTab {
	border: 2px #36F solid;
}

.extra > td > div {
  display: none;
}

.expander {
  text-align: center; 
  width:1em;
}

.courseList,
.sectionList {
  width: 100%;
}

td.button {
  width: 1em;
}

tr.main > td,
.sectionList td {
  border: 1px #36F solid;
  padding: .1em;
}
