a {
  color: #900;
  font-size: .8em;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10pt;
}

.courseList,
.sectionList {
  border-spacing: 0px;
  border-spacing-bottom: 0px;
  border: 2px solid black;
  margin-left: 1em;
  margin-bottom: .2em;
  width: 95%;
}

.description {
  margin-left: 1em;
  margin-bottom: .2em;
}

.extra > td > div {
  display: none;
}

.expander {
  text-align: center; 
  width: 1%;
}

.expander + td {
  width: 10%;
}

.expander + td + td {
  width: 50%;
}

.expander + td + td + td {
  width: 20%;
}

.expander + td + td + td + td {
  width: 20%;
}

h1, h2, h3 {
  color: #900;
}

.inline {
  display: inline;
}

.loaded {
  color: #070;
}

.rightAlign {
  float: right;
  margin-right: 1em;
  text-align: right;
}

.scheduleLink {
  margin: 2em 2em 0 0;
}

.sectionlist {
  background-color: #fff;
}

.sectionlist td {
  background-color: #f7f3d9;
  border-bottom: 2px white solid;
}

.spacer {
  display: block;
  height: 2em;
  width: 100%;
}

td.button {
  width: 1em;
}

tr.main {
  cursor: pointer;
}

tr.main > td,
.sectionList td {
  padding: .1em;
}

tr.main,
tr.extra {
  border: 2px solid black;
}

tr.main {
  background-color: #f7f3d9;
}

tr.extra {
  background-color: #fff;
}

ul.tabList {
	display: inline;
	list-style: none;
  margin-left: -2em;
}

ul.tabList a {
  color: #000;
  font-size: 1.1em;
  /*font-weight: bold;*/
	text-decoration: none;
}

ul.tabList > li {
	background: #f7f3d9;
	border: 1px #000 solid;
	display: inline;
	margin: 2px;
	padding: .2em .6em .2em .6em;
}

ul.tabList > li:hover,
ul.tabList > li#selectedTab {
	border: 2px #900 solid;
  margin: 1px;
}

