.extra {
  display: none;
}

.expander {
  text-align: center; 
  width:1em;
}

.courseList, .sectionList {
  width: 100%;
}

td.button {
  width: 1em;
}

tr.main td, .sectionList td {
  border: 1px #36F solid;
  padding: .1em;
}
