<h1>Degree Requirements</h1>

<table class="courseList">
  <% for req in @degree_requirements %>
    <% classname = req.required.class.name.underscore %>
    <% # classname will be either group or section %>
    
    <% options = {"show_wishlist_button" => true,
                  "show_schedule_button" => true} %>
                  
    <%= render  :partial => "#{classname.pluralize}/#{classname}", 
                :object => req.required,
                :locals => {:options => options} %>
  <% end %>
</table>

<%= render :partial => 'registered_sections/schedule' %>
