<header class="row">
  <h1 class="twelvecol">
    Register for a Required Course
  </h1>
</header>

<header class="row">
  <h2 class="twelvecol">
    Unmet Degree Requirements:
  </h2>
</header>

<div class="row course-list">
  <% for req in @incomplete_requirements %>
    <% classname = req.required.class.name.underscore %>
    <% # classname will be either group or course %>
    
    <% options = {:show_wishlist_button => true,
                  :show_schedule_button => true} %>
                  
    <%= render  :partial => "#{classname.pluralize}/#{classname}", 
                :object => req.required,
                :locals => { :options => options,
                             :wishlist_section_ids => @wishlist_section_ids,
                             :registered_section_ids => @registered_section_ids } %>
  <% end %>
</div><!--course-list-->

<header class="row">
  <h2 class="twelvecol">
    Completed Degree Requirements
  </h2>
</header>

<% if @complete_requirements.size > 0 %>
  <div class="course-list" id="completed-reqs">
    <% for req in @complete_requirements %>
      <%= render :partial => "degree_requirements/completed_req", :object => req %>
    <% end %>
  </div><!--course-list-->
<% else %>
  <h4>You haven't completed any courses yet. You must be new around here!</h4>
<% end %>


<% options = {:schedule => true} %>
<%= render :partial => 'registered_sections/schedule', :locals => { :options => options }%>
