<h1>Degree Requirements</h1>

<table class="courseList">
  <% for req in @degree_requirements %>
    <% classname = req.required.class.name.underscore %>
    <%= render :partial => "#{classname.pluralize}/#{classname}", :object => req.required %>
  <% end %>
</table>

<%= render :partial => 'registered_sections/schedule' %>
