<h1>Register for a Required Course</h1>

<h3>Unmet Degree Requirements:</h3>
<table class="course-list">
  <% for req in @incomplete_requirements %>
    <% classname = req.required.class.name.underscore %>
    <% # classname will be either group or course %>
    
    <% options = {:show_wishlist_button => true,
                  :show_schedule_button => true} %>
                  
    <%= render  :partial => "#{classname.pluralize}/#{classname}", 
                :object => req.required,
                :locals => { :options => options,
                             :wishlist_section_ids => @wishlist_section_ids,
                             :registered_section_ids => @registered_section_ids } %>
  <% end %>
</table>

<h3>Completed Degree Requirements</h3>

<table class="course-list" id="completed-reqs">
  <% for req in @complete_requirements %>

    <%= render :partial => "degree_requirements/completed_req",
              :object => req %>

  <% end %>

</table>


<% options = {:schedule => true} %>
<%= render :partial => 'registered_sections/schedule', :locals => { :options => options }%>
