<h1>WishlistSections#index</h1>
<p>Find me in app/views/wishlist_sections/index.html.erb</p>

<table class="sectionList">
<% oldname = "" %>
<% for section in @wishlist_sections %>
   
  <tr>
    <td><%=section.course.searchkey%></td>
    <td><%=section.timeslot%>
  </tr>
  
<% end %>
</table>
