<%=flash[:notice]%>

  	<%= render :partial => 'registered_sections/schedule', 
					 :locals => { :options => { :wishlist => true} }%>
  <!--
	  <table class="course-list">
    <% for wsection in @wishlist_sections %>
      <%= render :partial => "courses/course",
                 :object => wsection.section,
                 :locals => { :options => { :added => true,
                                            :added_object => wsection,
                                            :show_remove_button => true } } %>
    <% end %> 
    </table>
    -->
<%= render :partial => 'registered_sections/schedule', 
					 :locals => { :options => { :schedule => true} }%>
