<h1>Prepare to Register &ndash; Your Wishlist</h1>

<%=flash[:notice]%>

<% if @wishlist_sections.length == 0 %>
  <h3>You don't currently have any classes on your wishlist.</h3>
<% else %>
  <table class="courseList">
    <% for wsection in @wishlist_sections %>
      <%= render :partial => "courses/course",
                 :object => wsection.section,
                 :locals => { :options => { :added => true,
                                            :added_object => wsection,
                                            :show_remove_button => true } } %>
    <% end %> 
  </table>
<% end %>
<%= render :partial => 'registered_sections/schedule' %>
