<h1>Courses</h1>

<% form_tag '/courses', :method => :get do -%>
    <%= text_field_tag 'search', h(params[:search]) %> <%= submit_tag 'Submit', :name => nil %>
<% end -%>

<% if @courses.nil? %>
  <div>Instructions: use the search box</div>
<% else %>
  Searching for: <%= (params[:search].empty? ? 'All courses' : h(params[:search]) ) %><p/>

  <table class="courseList">
    <%= render :partial => "course", :collection => @courses %>
  </table>
  <br/>

<% end %>
