<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>
<% 
if (params[:search].nil?)
	searchtext = "All courses"
else
	searchtext = h(params[:search])
end
%>
	
Searching for: <%= searchtext %><p/>
<% for course in @courses %>
<%= course.name %><br>
<% end %>
<br/>
Courses for: <%=session[:semester]%>
